<p class="title">This is Omri training program scope that will eventually progress him to be the Msbit Angular expert.</p>
<ul>
  <li>
    <div class="item-title">Dynamic Component Loader:</div>
    <ul class="sub-list">
      <li>  Load static component using a service (simple OK/Cancel popup)</li>
      <li>Load changeable components using service (custom Popup)</li>
      <li>Load different templates to component (inject-able content popup)</li>
      <li>Testing Dynamic components</li>
    </ul>

  <li>
    <div class="item-title">Master Angular native directives</div>
    <ul class="sub-list">
      <li>Create custom DOM manipulate (*ngIf-else)</li>
      <li>Create custom repeater (*ngFor)</li>
      <li>Create custom content (ng-content)</li>
    </ul>
  </li>
  <li>
    <div class="item-title">Forms</div>
    <ul class="sub-list">
      <li>Custom Inputs (your own ngModel)</li>
      <li>Custom Inputs (your own FormController)</li>
      <li>Custom Select-Options-AutoFill</li>
      <li>Form Builder (using static Html template)</li>
      <li>Dynamic Form (both .html , .ts)</li>
    </ul>
  </li>
  <li>
    <div class="item-title">Bootstrap/Imports manipulation</div>
    <ul class="sub-list">
      <li>Import vs. Require</li>
      <li>Create custom providers/ Override existing ones</li>
      <li>integrate to different stages of the Angular bootstrap process</li>
    </ul>
  </li>
  <li>
    <div class="item-title">Interfaces</div>
    <ul class="sub-list">
      <li>Special Angular-Cli options</li>
      <li>WebPack custom bundle procedures (pre/ post bundle)</li>
    </ul>
  </li>
</ul>
